.carousel, .carousel-inner {
    height: 350px;
}

.carousel .carousel-inner .item {
    width: 100%;
    height: 100%;
    background-position-y: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel .carousel-indicators {
    bottom: 0;
}